<?xml version="1.0" encoding="utf-8" ?>
<template>
	<name>默认的模板</name>
	<version>0.1</version>
	<author>GTeam</author>
	<copyright>Copyright 2009 gtspace Development Team</copyright>
	<screenshot>screenshot.jpg</screenshot>
	<description>这是个gtspace默认的模板</description>
	<rewrites>
		<rule from="^default.aspx[?]$" to="~/Templates/Default/index.aspx" />
	</rewrites>
</template>
