<?xml version="1.0" encoding="utf-8" ?>
<plugin>
	<name>Demo1</name>
	<version>0.1</version>
	<author>GTeam</author>
	<copyright>Copyright 2009 gtspace Development Team</copyright>
	<description>这是gtspace默认的插件, 提供模板和插件的上传和下载功能</description>
	<dllfile>gtspace.Plugin.Default.dll</dllfile>
	<navigation name="Demo" target="Default.aspx">
		<group name="加法器">
			<page name="点击我" target="Default.aspx" />
		</group>
		<group name="减法器">
			<page name="dianjiwo" target="WebForm1.aspx" />
		</group>
	</navigation>
</plugin>