<?xml version="1.0" encoding="utf-8" ?>
<addon>
	<name>默认的插件</name>
	<version>0.1</version>
	<author>GTeam</author>
	<copyright>Copyright 2009 gtspace Development Team</copyright>
	<description>这是gtspace默认的插件</description>
	<dllfile>gtspace.AddOn.Default.dll</dllfile>
	<aspxfiles>
		<file name="index.aspx" />
	</aspxfiles>
</addon>