<?xml version="1.0" encoding="utf-8" ?>
<plugin>
	<name>系统默认的插件</name>
	<version>0.1</version>
	<author>GTeam</author>
	<copyright>Copyright 2009 gtspace Development Team</copyright>
	<description>这是gtspace默认的插件, 提供模板和插件的上传和下载功能</description>
	<dllfile>gtspace.Plugin.Default.dll</dllfile>
	<navigation name="模板和插件管理" target="index.aspx">
		<group name="模板管理">
			<page name="上传模板" target="TemplatesManage/Upload.aspx" />
			<page name="模板列表" target="TemplatesManage/List.aspx" />
		</group>
		<group name="插件管理">
			<page name="上传插件" target="PluginsManage/Upload.aspx" />
			<page name="插件列表" target="PluginsManage/List.aspx" />
		</group>
	</navigation>
</plugin>